body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 40%;
}

form > div > label { 
    text-align: left;
}

